.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

header .navbar-brand .logotipo {
    font-size: 2em;
    font-weight: bold;
    margin-left: 10px;
}

header .navbar-brand .isotipo {
    fill: yellow;
}

header .navbar-brand .isotipo:hover {
    fill: white;
    transition: fill 0.3s ease-in-out;
}

main .portada {
    background-image: url('./../images/dot-grid.webp');
    background-repeat: repeat;
}

main .card {
    height: 380px;
}

main .card .tag-categoria {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
}

main .card img {
    height: 220px;
    min-height: 220px;
    width: auto;
    object-fit: cover;
}

main .show-hora {
    margin: auto;
    padding: 10px;
    max-width: 300px;
    background-color: yellow;
}

main .show-hora div {
    font-weight: bold;
}

.parpadeo {
    animation-name: parpadeo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -moz-appearance-animation-name: parpadeo;
    -moz-appearance-duration: 1.5s;
    -moz-appearance-timing-function: linear;
    -moz-appearance-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}